# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 3fce0b08ddef95a7eb6b39cb3cc589ee0fbbb1042793f62a0ba7accca17b67045a0c22112006b31c68792cbc580d9760682bcfe3e4cf11a75c59e6268bb3a3ae

test:
  secret_key_base: 742746dbc4edfbfcadbdd77a076bbcf0133ca720d863f431dad5a437318147e6e37dbd3b9e892ab3147583335be31aec1c99c79e62afeb47daef95b2bd02c288

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
