# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 186f8dea79d4b323ee54b88e1fd04699a7c6b42496eb43b0a2f66c7cc7aea1351fb2ad0b2ac783b6cff857b8f63b8d6e2d18cafe84f9ec34eba31a37139a3d9d

test:
  secret_key_base: bae1cfb83d1b060fb62898899bdef0eab62685153909e8a9a17ea8a4c8d7f301f662e99e0bdc8c7cecabecfa5dc37bc8acce7172a898eb5544058d50c5d34562

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
